includes:
    - phpstan-baseline.neon

parameters:
    level: 0
    paths:
        - index.php
        - prescia
        - pages
        - tests
    excludePaths:
        - */vendor/*
        - */pages/_js/ckfinder/*
    scanFiles:
        - prescia/lib/basic.php
        - prescia/lib/arrayToString.php
        - prescia/lib/listFiles.php
        - prescia/lib/inputSanatizing.php
        - prescia/lib/datetime.php
        - prescia/lib/removeSimbols.php
        - prescia/lib/dirBundle.php
        - prescia/lib/locateFile.php
        - prescia/lib/locateAnyFile.php
        - prescia/lib/sendMail.php
        - prescia/lib/storeFile.php
        - prescia/lib/quota.php
        - prescia/lib/imgHandler.php
        - prescia/lib/xmlHandler.php
        - prescia/lib/ttree.php
        - prescia/core.php
        - prescia/coreFull.php
        - prescia/tcexternal.php
        - prescia/console.php
    reportUnmatchedIgnoredErrors: true
