
<section class="psc-404-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<span class="psc-404-number">404</span>
				<h2 class="psc-404-title">Woopsy!</h2>
				<p class="psc-404-text">
					{_i18n_pt-br}A página não foi encontrada. Algo não foi linkado corretamente ou você é safadinho(a)...{/i18n_pt-br}
					{_i18n_en}The page was not found. Something was either not linked properly, or you are a naughty boy/girl...{/i18n_en}
				</p>
				<a href="{vdir}index.html" class="psc-btn-primary">
					<span class="glyphicon glyphicon-home"></span> Go back home
				</a>
			</div>
		</div>
	</div>
</section>
