{_}
{_breadcrubs}
<nav class="psc-breadcrumb-nav" aria-label="breadcrumb">
	<ol class="breadcrumb psc-breadcrumb">
		<li><a href="{vdir}index.html"><span class="glyphicon glyphicon-home"></span></a></li>
		<li {_hasnext}class="active"{/hasnext}><a href="{page}.html">{title}</a></li>
	</ol>
</nav>
{/breadcrubs}
{/}

<div class="container psc-cms-container">
	<article class="psc-cms-article">
		<header class="psc-cms-header">
			<h1 class="psc-cms-title">{CONTENTMAN_TITLE}</h1>
		</header>
		<div class="psc-cms-body">{CONTENTMAN}</div>
	</article>
	<div class="psc-cms-nav">
		<a href="#" class="psc-back-top">
			<span class="glyphicon glyphicon-arrow-up"></span> Top
		</a>
		<a href="{vdir}index.html" class="psc-back-home">
			<span class="glyphicon glyphicon-home"></span> Home
		</a>
	</div>
</div>
