<div class="container psc-cms-container">
	<section>
		<header>
			<h1 class="psc-cms-title" style="margin-bottom:28px">{_t}contato{/t}</h1>
		</header>

		<div class="psc-result-card">
			<div>{catchdebug}</div>
		</div>
	</section>

	<div class="psc-cms-nav" style="margin-top:8px">
		<a href="#" class="psc-back-top">
			<span class="glyphicon glyphicon-arrow-up"></span> Top
		</a>
		<a href="{vdir}index.html" class="psc-back-home">
			<span class="glyphicon glyphicon-home"></span> Home
		</a>
	</div>
</div>
