<body>

<nav class="psc-navbar navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
			        data-target="#psc-nav" aria-expanded="false">
				<span class="sr-only">{_t}toggle_navigation{/t}</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand psc-brand" href="{vdir|/}index.html">
				<span class="psc-brand-icon">P</span> Prescia
			</a>
		</div>
		<div class="navbar-collapse collapse" id="psc-nav">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="{vdir|/}index.html">Home</a></li>
				<li><a title="{_t}about{/t}" href="{vdir|/}{seo|about}">{_t}about{/t}</a></li>
				<li><a title="{_t}download{/t}" href="{vdir|/}{seo|download}">{_t}download{/t}</a></li>
				<li><a title="{_t}differential{/t}" href="{vdir|/}{seo|differential}">{_t}differential{/t}</a></li>
				<li><a title="{_t}contact{/t}" href="{vdir|/}{seo|contacto}">{_t}contact{/t}</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
					   aria-haspopup="true" aria-expanded="false">
						{_t}resources{/t} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="{vdir|resources/}{seo|index}">{_t}getting-started{/t}</a></li>
						<li><a href="{vdir|resources/}{seo|sample}">{_t}sample{/t}</a></li>
						<li><a href="{vdir|resources/}{seo|reference}">{_t}framework_reference{/t}</a></li>
						<li class="divider" role="separator"></li>
						<li class="dropdown-header">{_t}documentation{/t}</li>
						<li><a href="{vdir|resources/}">{_t}toc{/t}</a></li>
						<li><a href="{vdir|resources/}{seo|quick_reference}">{_t}quick_reference{/t}</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
					   aria-haspopup="true" aria-expanded="false">
						{_t}community{/t} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="{vdir|bb/}">{_t}forums{/t}</a></li>
						<li><a href="https://www.facebook.com/PresciaFramework">Facebook</a></li>
						<li><a href="https://twitter.com/PresciaPHP">Twitter</a></li>
						<li><a href="https://github.com/Prescia">GitHub</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

{CORE_DEBUG}
{FRAME_CONTENT}

<footer class="psc-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 psc-footer-brand">
				<h4>Prescia</h4>
				<p>A high-level PHP framework for modern web applications. Fast, elegant and extensible.</p>
				<p class="psc-footer-copy">ɔ Prescia 2014</p>
			</div>
			<div class="col-sm-4 psc-footer-links">
				<h5>Framework</h5>
				<ul>
					<li><a href="{vdir|/}{seo|about}">{_t}about{/t}</a></li>
					<li><a href="{vdir|/}{seo|download}">{_t}download{/t}</a></li>
					<li><a href="{vdir|resources/}{seo|index}">{_t}getting-started{/t}</a></li>
					<li><a href="{vdir|resources/}{seo|reference}">{_t}framework_reference{/t}</a></li>
					<li><a href="{vdir|/}{seo|differential}">{_t}differential{/t}</a></li>
				</ul>
			</div>
			<div class="col-sm-4 psc-footer-links">
				<h5>{_t}community{/t}</h5>
				<ul>
					<li><a href="{vdir|bb/}">{_t}forums{/t}</a></li>
					<li><a href="https://github.com/Prescia">GitHub</a></li>
					<li><a href="https://www.facebook.com/PresciaFramework">Facebook</a></li>
					<li><a href="https://twitter.com/PresciaPHP">Twitter</a></li>
					<li><a href="{vdir|/}{seo|contacto}">{_t}contact{/t}</a></li>
				</ul>
			</div>
		</div>
		<div class="psc-footer-bottom">
			<p>
				{_i18n_pt-br}<a href="?lang=en">English Version</a>{/i18n_pt-br}{_i18n_en}<a href="?lang=pt-br">Versão em Português</a>{/i18n_en}{_mobonly} &middot; <a href="?desktopversion=1">Desktop version</a>{/mobonly}
			</p>
		</div>
	</div>
</footer>

</body>
